*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --text-color: #222229;
}
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    
}
/* Common */
.tag--position{
    position: relative;
}

.gird{
    width: 1520px;
    max-width: 100%;
    margin: 0 auto;
  
}
.gird__container{
    width: 1296px;
    max-width: 100%;
    margin: 0 auto;
}
.gird__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;
}

.gird__row-3-img{
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px; 
}
.gird__row-4-img{
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px; 
}
.gird__column-2{
    width: 50%;
    padding-left: 8px;
    padding-right: 8px;
}
.gird__column-40{
    width: 40%;
    padding-left: 8px;
    padding-right: 8px;
}
.gird__column-4{
    width: 25%;
    padding-left: 8px;
    padding-right: 8px;
}
.gird__column-5{
    width: 20%;
    padding-left: 8px;
    padding-right: 8px;
}
.gird__column-3{
    width: 33.3333%;
    padding-left: 8px;
    padding-right: 8px;
}

/* Header navbar */
.header{
    height: 80px;
    background-color: #FFFFFF;
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    border-bottom: 1px solid #F2F2F2;
    z-index: 10;
}
.navbar__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

.navbar__list-container-test{
    width: 600px;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 4px;
    box-shadow: 1px 1px 4px rgba(0,0,0, 0.2);
    margin-left: 15px;
}
.navbar__list{
    display: flex;
    height: 100%;
    align-items: center;
}
.navbar__header-list{
    display: inline-block;
   
}
.header__logo-main{
    border-radius: 50%;
    padding: 10px;
    background-color: #F5F5F5;
}

.navbar__list-logo-view:hover {
    fill: #f65e39;
}
.navbar__container-search{
    width: 300px;
    height: 46px;
    line-height: 46px;
    display: flex;
    position: relative;
    
    
}
.navbar__container-search-border::after{
    position: absolute;
    content: "";
    border-right: 1px solid #E7E7E7;
    height: 80%;
    right: 0;
    top:10%;
}
.nav__icon-head{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 500;
}
.header__input{
    border-color: transparent;
    outline: none;
    width: 100%;
    
}
.heading__icon-common-first{
    font-size: 1.4rem;
    color: #666666;
    padding:  0 10px 0 15px;
}
.heading__icon-common{
    font-size: 1.4rem;
    color: #666666;
    padding:  0 10px;
}
.heading__icon-common-disabled{
    cursor: default;
}
::placeholder{
    color: #222222;
    font-weight: 500;
    font-size: 1.4rem;
}

.navbar__container-button{
    font-size: 1.4rem;
    color: white;
    cursor: pointer;
    width: 56px;
    height: 36px;
    background-color: #555555;
    border: 0;
    border-radius: 4px;
    margin-left: 4px;
}

.navbar__container-people{
    display: inline-block;
    width: 115px;
    height: 46px;
    line-height: 46px;
    display: flex;
    justify-content: center;
}
.navbar__container-day {
    height: 46px;
    width: 115px;
    line-height: 46px;
    display: flex;
    justify-content: center;
    position: relative;
}
.navbar__container-day--border::after{
    position: absolute;
    content: "";
    border-right: 2px solid #E7E7E7;
    height: 80%;
    right: 0;
    top:10%;
}
.navbar__header-list{
    font-size: 1.4rem;

}
.navbar__header-list-link{
    text-decoration: none;
    margin: 0 15px;
    color: #222222;
    font-weight: 500;
    position: relative;
    transition: all linear 0.3s;
}
.navbar__header-list-link--effect::after{
    position: absolute;
    content: "";
    border: 2.5px solid #FB9236;
    border-radius: 50%;
    top:-3px;
}
.navbar__header-list-link:hover{
    color: #f65e39;
}
.navbar__langues{
    width: 90px;
    height: 30px;
    background-color: #F6F6F6;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 6px 28px 6px 6px;
    position: relative;
    cursor: pointer;
}
.navbar__langues::after{
    position: absolute;
    content: "";
    border: 5px solid;
    border-color: #222222 transparent transparent transparent;
    right: 8px;
    top: calc(50% - 4px);
}
.navbar__header-langues-label{
    color: black;
    margin-left: 6px;
}

.navbar__logo-VN{
    height: 24px;
    width: 24px;
}


/* SubNav-heading */
.sub__heading{
    display: none;
    height: 60px;
    width: 100%;
    background-color: #FFFFFF;
    border-top: 1px solid rgba(230, 230, 230, 0.5);
}

.subnavbar__list{
    line-height: 60px;
}
.subnavbar__item{
   
    display: inline-block;
}
.subnavbar__item-link{
    text-decoration: none;
    font-size: 1.4rem;
    color: #222222;
    padding: 7px 12px;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    margin-right: 12px;
    transition: all linear 0.2s;
}
    

.subnavbar__item-link:hover{
    color: #ffffff;
    border-color: #f65e39;
    background-color: #f65e39;
}
/* Container */
.container{
    
  
    margin-top: 80px;
}
/* Slider */
.slider{
    margin-top: 44px;
    width: 100%;
    padding-top:22%;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    
    border-radius: 20px;
}
.container__body-title{
    margin-top: 54px;
    color: #222222;
    display: block;
    height: 100px;
    width: 100%;
}
.title__container-head{
    font-size: 2.8rem;
    margin-bottom: 24px;
    font-weight: 900;
}
.title__container{
    
    font-size: 2.5rem;
    margin-bottom: 24px;
    font-weight: 700;
}
.title__decs{
    font-size: 1.6rem;
    margin-bottom: 18px;
}
.title-sub-decs{
    font-size: 1.6rem;
    
}
.title__decs-place{
    font-size: 1.55rem;
    color: #555555;
   margin-bottom: 20px;
}
.sub-decs__line{
    color: #222;
}

.product-cover{
    display: flex;
    position: relative;
    margin-left: -8px ;
    margin-right: -8px;
}

.container__place{
    height: 390px;
    width: 100%;
    margin-top: 50px;
    
}
.place-btn__right-sub{
    position: absolute;
    width: 56px;
    height: 56px;
    background-color: white;
    z-index: 1;
    border-radius: 50%;
    top: 35%;
    transform: translateY(-50%);
    right: -1.8%;
    border-color:transparent ;
    box-shadow: 0 0 4px rgba(0,0,0, 0.2);
    transition: all linear 0.2s;
    cursor: pointer;
}
.place-btn__left-sub{
    position: absolute;
    width: 56px;
    height: 56px;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
    border-radius: 50%;
    top: 35%;
    transform: translateY(-50%);
    left: -1.8%;
    border-color:transparent ;
    box-shadow: 0 0 4px rgba(0,0,0, 0.2);
    cursor: pointer;
}
.place-btn__left{
    position: absolute;
    width: 56px;
    height: 56px;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    left: -1.8%;
    border-color:transparent ;
    box-shadow: 0 0 4px rgba(0,0,0, 0.2);
    cursor: pointer;
}
.place-btn__left-icon{
    opacity: 0.5;
    font-size: 1.4rem;
}
.place-btn__right{
    position: absolute;
    width: 56px;
    height: 56px;
    background-color: white;
    z-index: 1;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    right: -1.8%;
    border-color:transparent ;
    box-shadow: 0 0 4px rgba(0,0,0, 0.2);
    transition: all linear 0.2s;
    cursor: pointer;
}
.place-btn__right-sub:hover, .place-btn__right:hover{
    color: #f65e39;
    box-shadow: 0 0 2px #f65e39;
}
.place-btn__right-icon{
    font-size: 1.4rem;
}
.container__place-img{
    display: block;
    width: 248px;
    height: 308px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 4px;
    background-position: center;
    position: relative;
}
.text-content{
    position: absolute;
    bottom: 28px;
    color: #fff;
    left: 30px;
}
.text-heading{
    font-size: 2.5rem;
}
.text-description{
    margin-top: 20px;
    font-size: 1.6rem;
    
    
}
.text-number{
    display: inline-block;
    font-weight: 500;
}
.promotion__container{
    width: 100%;
    height: 244px;
    margin-top: 66px;
    
}
.promotion__cover{
    display: flex;
}
.promotion__desc{
   
    display: flex;
    justify-content: space-between;
}
.promotion__desc-continue{
    text-decoration: none;
    font-size: 1.5rem;
    color: #f65e39;
}
.promotion__img{
    height: 184px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}
.suggest{
    margin-top: 84px;
    
}
.title__decs-place--bottom{
    margin-bottom: 34px;
}
.suggest__item-img{
    width: 312px;
    height: 195px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 4px;
}
.suggest__link{
    text-decoration: none;
}
.suggest__item-content{
    margin-top: 14px;
}
.suggest__item-title{
    text-transform: uppercase;
    color: #555555;
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 14px;
    line-height: 1.6;
    opacity: 0.9;
}
.suggest__item-desc{
    color: #3D3D3D;
    font-size: 1.55rem;
    line-height: 1.5;
    transition: all linear 0.2s;
    
}
.suggest__item-desc--hover:hover{
    color: #f65e39;
}

.discover{
    margin-top: 114px;
    width: 100%;
    
}
.discover__img{
    height: 264px;
    background-image: linear-gradient(0 ,#888888,#EEEEEE);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    position: relative;
    display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.discover__item-title{
    text-transform: uppercase;
    font-size: 1.4rem;
    text-decoration: none;
    color: white;
    font-weight: 500;
    background-color: #BEBEBE;
    width: 214px;
    padding: 4px 28px 3px 28px;
    border-radius: 20px;
    
}
.discover__img-head{
    
    height: 70%;
    padding: 24px;
}
.discover__img-last{
 
    padding: 24px;
  
}
.discover__item-content{
    
    line-height: 1.5;
    font-size: 2rem;
    font-weight: 500;
    color: white;
    text-decoration: none;
}
.tutorial{
    width: 100%;
    margin-top: 74px;
}
.tutorial__img{
    width: 100%;
    height: 138px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 4px;
}
.body__footer{
    margin-top: 72px;
    width: 100%;
}

.body__footer-content-img{
    margin-bottom: 16px;
}
.app-introduce__logo{
    height: 74px;
    width: 334px;
  fill: #222222;
  
}
.body__footer-content-head{
    font-size: 3.1rem;
    margin-bottom: 40px;
}
.body__footer-content-description{
    font-size: 1.55rem;
    line-height: 1.5;
    color: #222;
}
.body__footer-content-app{
    margin-top: 80px;   
    display: flex;
    justify-content: space-between;
}
.body__footer-qr{
    padding: 12px;
    max-height:180px ;
    border: 1px solid rgba(0,0,0,0.1);

}
.body__footer-qr-img{
    
   width: 154px;
   height: 154px;
   
}
.body__footer-download{
    flex: 1;
    margin-left: 36px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
}
.download-app{
 padding: 0 8px;
}
.body__app-container{
    flex-basis:50% ;
    max-width: 216px;
    padding: 0 18px 0 0;
}
.body__app-link{
    display: block;
}
.body__footer-img{
    
    padding-top: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Footer */
.footer{
   margin-top: 60px;
   height: 550px;
   border-bottom: 1px solid rgba(0,0,0,0.1);
}
.footer__top-logo{
    margin-bottom: 24px;
}

.footer__top-content{
    display: flex;
    margin-bottom: 24px;
}

.footer__top-text-link{
    display: block;
}

.footer__top-img{
margin-right: 8px;
}
.footer__top-text{
    line-height: 1.6;
}
.footer__top-text-head{
    font-size: 1.4rem;
    font-weight: 700;
}
.footer__top-text-link{
    font-size: 1.3rem;
    text-decoration: none;
    color: #222;
    
}
.footer__top-list-heading{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 18px;
}
.footer__top-list{
    list-style: none;
}
.footer__top-item{
    padding: 8px 0;
}
.footer__top-item-link{
    font-size: 1.35rem;
    color: rgb(34, 34, 34,0.9);
    text-decoration: none;
    transition: all linear 0.2s;
   
}
.footer__top-item-link:hover{
    color: #f65e39;
}
.footer__top-apps{
    display: flex;
    justify-content: space-between;
}
.footer__top-apps-code{
    display: flex;
}
.footer__top-apps-qr{
    width: 90px;
    height: 90px;
    padding: 14px;
    border: 1px solid rgba(0,0,0,0.1); 
    margin-right: 24px;
}
.footer__top-download{
        display: flex;
        flex-wrap: wrap;
       
}
.footer__top-link{
    margin-bottom: 10px ;
}
.footer__top-link-down{
    
    width: 100px;
    height: 36px;
}
.footer__body{
    margin-top: 56px;
}
.footer__body-trade{
    display: flex;
    
}
.footer__body-trade-link{
        margin-right: 15px;
}
.footer__body-trade-link-img{
 
    width: 90px;
   
}

.footer__body-social-link{
    text-decoration: none;
}
.footer__body-social-icon{
    color: #484848;
    font-size: 2.8rem;
    margin-right: 15px;
}

.footer__last-text{
    margin-top: 12px;
    font-size: 1.4rem;
    color: rgba(35,35,35,0.6);
    text-align: center;
    
}
.footer__last-body{
    margin-top: 24px;
    margin-bottom: 24px;
}